- expanded = integration_expanded?('eks_')
%section.settings.as-eks.no-animate#js-eks-settings{ class: ('expanded' if expanded) }
  .settings-header
    %h4
      = _('Amazon EKS')
    %button.btn.gl-button.js-settings-toggle{ type: 'button' }
      = expanded ? 'Collapse' : 'Expand'
    %p
      = _('Amazon EKS integration allows you to provision EKS clusters from GitLab.')

  .settings-content
    = form_for @application_setting, url: general_admin_application_settings_path(anchor: 'js-eks-settings'), html: { class: 'fieldset-form' } do |f|
      = form_errors(@application_setting)

      %fieldset
        .form-group
          .form-check
            = f.check_box :eks_integration_enabled, class: 'form-check-input'
            = f.label :eks_integration_enabled, class: 'form-check-label' do
              Enable Amazon EKS integration
        .form-group
          = f.label :eks_account_id, 'Account ID', class: 'label-bold'
          = f.text_field :eks_account_id, class: 'form-control gl-form-input'
        .form-group
          = f.label :eks_access_key_id, 'Access key ID', class: 'label-bold'
          = f.text_field :eks_access_key_id, class: 'form-control gl-form-input'
          .form-text.text-muted
            = _('AWS Access Key. Only required if not using role instance credentials')

        .form-group
          = f.label :eks_secret_access_key, 'Secret access key', class: 'label-bold'
          = f.password_field :eks_secret_access_key, autocomplete: 'off', class: 'form-control gl-form-input'
          .form-text.text-muted
            = _('AWS Secret Access Key. Only required if not using role instance credentials')

      = f.submit 'Save changes', class: "gl-button btn btn-success"
